.carousel-inner{
    width: 70%;
    margin: auto;
}
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: deepskyblue;
  }

.navbar {
    margin-bottom: 0;
    background:#E600B4;
    z-index: 9999;
    border: 0;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    border-radius: 0;
    font-family: 'Droid Serif', serif;
    width: 100%;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: magenta!important;
    background-color: #fff !important;
}

.navbar-header .navbar-toggle .icon-bar{
    border-color: transparent;
    background-color: cornsilk; 
    
}
.footer{
    font-family: 'Droid Serif', serif;
    background-color: #62E200;
    font-size: 15px;
    color: #fff;
}
.testimony
{
    color:black;
    font-size: 15px;
    font-family: 'Droid Serif', serif;
    background-color: #fff;
}

.caption
{
    color: black;
    font-size: 13.5px;
    font-family: 'Droid Serif', serif;
    
}

.logo
{
    width: 40px;
    height: 35px;
}
